.spacer {
    font-size: 0;
    height: 10px;
    line-height: 0;
}

.container {
}

.grid {
    margin: 0 auto;
}

.grid-item {
    width: 335px;
    margin-bottom: 2px;
}

.grid-item img {
    width: 100%;
}