.container {
    margin-top: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 0 10px;
    gap: 5px;
}

.grid-item {
    width: 577px;
}

.grid-item img {
    width: 100%;
}

@media all and (max-width: 600px) {
    .grid-item {
        width: 100%;
    }
}

/*.grid-item.width2 {*/
/*    width: 675px;*/
/*}*/

/*@media screen and (max-width: 675px) {*/
/*    .grid-item.width2 {*/
/*        width: 335px;*/
/*    }*/
/*}*/