h1 {
    text-align: center;
    color: burlywood;
    font-weight: 500;
}

.content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.content .photo {
    display: flex;
    width: 325px;
    height: 487px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 0 10px 10px 10px;
    position: relative;
    filter: brightness(0.8);
    background-color: black;
}

.content .photo:hover {
    filter: unset;
}
.content .photo a {
    padding: 1em;
    font-size: 42px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.content .photo.img-personal {
    background-image: url("../img/fatima.jpg");
    transition: 0.5s;
}

.content .photo.img-love-story {
    background-image: url("../img/love_story.jpg");
    transition: 0.5s;
}

.content .photo.img-family {
    background-image: url("../img/family/img14.jpg");
    transition: 0.5s;
}
.content .photo.img-events {
    background-image: url("../img/events/2.jpg");
    width: 730px;
    height: 487px;
    transition: 0.5s;
    margin-bottom: 20px;
}
.content .photo.img-wedding {
    background-image: url("../img/wedding/wedding.jpg");
    transition: 0.5s;
}

@media screen and (max-width: 675px) {
    .content .photo.img-personal {
        background-image: url("../img/personalSm.jpg");
    }

    .content .photo.img-events {
        background-image: url("../img/eventMobile.jpg");
        width: 325px;
    }
    .content .photo {
        filter: unset;
    }
}
@media screen and (min-width: 1785px) {
    .content .photo.img-wedding {
        position: relative;
        right: 30px;
    }
}